.dropdown {
  display: none;
}
.show {
  order: 10;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.App {
  width: 960px;
  height: 540px;
  text-align: center;
  margin: 0px auto;
}
h1 {
  font-size: 28px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  display: inline-block;
}
.speak-icon {
  font-size: 33px;
}
.speak-btn {
  border: none;
  border-radius: 50%;
  background-color: #59c2e2;
  color: white;
  padding: 5px;
}
.speak-info {
  display: flex;
  align-items: center;
}
.bubble-box {
  display: flex;
  margin-top: 150px;
  justify-content: center;
}
.bubble-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #a477a4;
}
.five-box {
  display: flex;
  width: 370px;
  flex-wrap: wrap;
}
.first-five-box {
  margin-left: 44px;
}
.bottom-box {
  display: flex;
}
.bubble-item {
  margin: 10px 15px;
}
.right-bubble {
  display: flex;
  flex-wrap: wrap;
  padding: 25px 40px;
  width: 250px;
  justify-content: center;
  margin-left: 30px;
  cursor: pointer;
  column-rule-color: #ed696a;
}
input {
  border: none;
  outline: none;
  width: 30px;
  height: 30px;
}

.check-btn {
  border: none;
  display: flex;
  align-items: center;
  padding: 2px 10px;
  background-color: #b7b6b6;
  border-radius: 10px;
  width: 90px;
  margin: 50px auto;
  height: 60px;
}
.line-box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 50px;
  background-color: white;
}
.padding-color-change {
  background-color: #ed696a;
}
.small-line {
  width: 2px;
  height: 3px;
  display: inline-block;
  background-color: #b7b6b6;
}
.bad-border {
  padding: 25px;
}
.add-border {
  border: 2px solid #ed696a;
  border-radius: 50%;
}
.add-left-border {
  border: 2px solid #ed696a;
  border-radius: 70%;
}

.enter-bottom-btn {
  background-color: #59c2e2;
  border-radius: 10px;
  margin: 0px 10px;
  font-size: 25px;
  color: white;
  border: none;
  height: 44px;
  width: 44px;
}
.ten-input {
  width: 34px;
  height: 50px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.leftInput {
  height: 50px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.move-btn {
  border: none;
  margin-left: 30px;
  background-color: #59c2e2;
  color: white;
  padding: 10px;
  border-radius: 10px;
}
.move-btn a {
  text-decoration: none;
  color: white;
}